---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="À propos">

<article class="poeme">
  <h2>Hélène ou le Règne Végétal</h2>

  <div class="strophe">
    <p>Tu es dans un jardin et tu es sur mes lèvres</p>
    <p>Je ne sais quel oiseau t'imitera jamais</p>
    <p>Ce soir je te confie mes mains pour que tu dises</p>
    <p>A Dieu de s'en servir pour des besognes bleues</p>
  </div>
    <br>
  <div class="strophe">
    <p>Car tu es écoutée de l'ange tes paroles</p>
    <p>Ruissellent dans le vent comme un bouquet de blé</p>
    <p>Et les enfants du ciel revenus de l'école</p>
    <p>T'appréhendent avec des mines extasiées</p>
  </div>
    <br>
  <div class="strophe">
    <p>Penche-toi à l'oreille un peu basse du trèfle</p>
    <p>Avertis les chevaux que la terre est sauvée</p>
    <p>Dis-leur que tout est bon des ciguës et des ronces</p>
    <p>Qu'il a suffi de ton amour pour tout changer</p>
  </div>
    <br>
  <div class="strophe">
    <p>Je te vois mon Hélène au milieu des campagnes</p>
    <p>Innocentant les crimes roses des vergers</p>
    <p>Ouvrant les hauts battants du monde afin que l'homme</p>
    <p>Atteigne les comptoirs lumineux du soleil</p>
  </div>
    <br>
  <div class="strophe">
    <p>Quand tu es loin de moi tu es toujours présente</p>
    <p>Tu demeures dans l'air comme une odeur de pain</p>
    <p>Je t'attendrai cent ans mais déjà tu es mienne</p>
    <p>Par toutes ces prairies que tu portes en toi.</p>
  </div>
      <br>
    <p><i>René Guy Cadou</p>
</article>


</MainLayout>